---
layout: default
---

<div id="segment-header" class="segment compact-header"><!-- segment-header -->
  <div class="container d-flex justify-content-between align-items-center"><!-- container -->
    <div id="ig-brand">
      <h1 class="ig-title">{{ siteName }}</h1>
      <div class="ig-sub">{{ igVersion }} - {{ igBuild }}</div>
    </div>
    <div id="ig-flag"> 
      <img src="{{ siteRoot }}assets/images/fra.svg" alt="France" height="20"/>
    </div>
  </div><!-- /container -->
</div><!-- /segment-header -->

<div id="segment-navbar" class="segment">
  <div class="container">
    <nav class="navbar navbar-expand-lg cpage-navbar">
      <a class="navbar-brand d-flex align-items-center" href="{{ siteRoot }}">
        <img src="{{ siteRoot }}assets/images/logo-cpage.png" alt="CPage" class="cpage-logo"/>
        <div class="d-flex flex-column">
          <span class="cpage-title">CPage FHIR IG</span>
          <small class="text-white-50">Documentation</small>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cpageNav" aria-controls="cpageNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="cpageNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{{ siteRoot }}index.html">Accueil</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ siteRoot }}implementation.html">Implémentation</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ siteRoot }}conformance.html">Conformance</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>