<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xml:lang="{{ page.language }}" xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.language }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="http://hl7.org/fhir"/>

    <link rel="stylesheet" href="{{ siteRoot }}fhir.css"/>
    <link rel="stylesheet" href="{{ siteRoot }}assets/css/bootstrap-fhir.css"/>
    <link rel="stylesheet" href="{{ siteRoot }}assets/css/project.css"/>
    {% include fragment-css.html %}
    <!-- CPage font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  </head>
  <body onload="document.body.style.opacity='1'">
    <script src="{{ siteRoot }}assets/js/prism.js"></script>
    <script src="{{ siteRoot }}assets/js/mermaid.js" type="text/javascript"></script>
    <script src="{{ siteRoot }}assets/js/mermaid-init.js" type="text/javascript"></script>
    <style type="text/css">h2{--heading-prefix:"{{ page.headPrefix }}"} h3,h4,h5,h6{--heading-prefix:"{{ page.headPrefix }}"}</style>

    <!-- Compact header from template -->
    {% include fragment-header.html %}

    <!-- Navbar provided by template fragment to avoid duplication -->
    {% include fragment-navbar.html %}

    <!-- Breadcrumb and content follow as usual -->
    <div id="segment-breadcrumb" class="segment">    <!-- segment-breadcrumb -->
      <div class="container">    <!-- container -->
        <ul class="breadcrumb">
          {% include fragment-breadcrumb.html %}
        </ul>
      </div>    <!-- /container -->
    </div>    <!-- /segment-breadcrumb -->

    <a name="top"> </a>
    <div id="segment-content" class="segment">    <!-- segment-content -->
      <div class="container">    <!-- container -->
        {% include fragment-content.html %}
      </div>
    </div>    <!-- /segment-content -->
